.projects-container {
    display: flex;
    margin: auto;
    padding-bottom: 50px;
    max-width: 80vw;
}

.projects-image {
    width: 45vw;
    height: 45vh;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    align-items: flex-end;
    color: rgba(0, 0, 0, 0.778);
}

.projects-title {
    font-size: 1.5vw;
    font-weight: 700;
    padding-right: 30px;
    color: #4057a1;
}

.projects-title::after {
    content: "";
    display: inline-block;
    width: 70%;
    height: 2px;
    background-color: black;
    vertical-align: middle;
}

.project-details { 
    width: 95%;
}

.details-description {
    font-weight: 300;
    line-height: 200%;
    padding-bottom: 20px;
    background-color: white;
    color: rgba(0, 0, 0, 0.733);
    padding: 20px 20px;
    font-size: 1.2vw;
}

.details-skills {
    padding-right: 30px;
    text-align: right;
    font-size: 1vw;
    font-weight: 500;
    line-height: 200%;
}

.details-github {
    
}