.projects-container {
    margin-bottom: 80px;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projects-button {
    margin-top: 30px;
    border-radius: 50px;
    color: black;
    border-radius: 10px;
    border: none;
    font-size: 1.1vw;
    background-color: white;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
    height: 10vh;
    width: 30vw;
    margin-left: 50px;
}

.projects-button:hover {
    cursor: pointer;
}

.project-details {
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.projects-image {
    width: 45vw;
}

.details-description {

}

.details-skills {
    
}

.details-github {
    
}