.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 80vw;
  margin: auto;
  padding: 0px 10%;
  text-align: left;
  animation: fadeIn 1s;
  margin-top: -3vh;
  margin-bottom: -10vh;
}

@media only screen and (max-width: 800px) {
  .about {
    width: 80vw;
  }
}

.about-name {
  color: rgba(0, 0, 0, 0.759);
  font-size: 4vw;
  line-height: 10%;
}

.about-p1 {
  color: rgba(0, 0, 0, 0.758);
  font-weight: 400;
  line-height: 250%;
  font-size: 1.2vw;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}