.about {
  /* background-color: #4057a16e; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  height: 100vh;
  width: 70vw;
  margin: auto;
  padding: 0px 10%;
  text-align: left;
}

@media only screen and (max-width: 800px) {
  .about {
    width: 80vw;
  }
}

.about-name {
  font-size: 4.5vw;
  line-height: 10%;
}

.about-p1 {
  line-height: 250%;
  font-size: 1.4vw;
}