.nav {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    background-color: rgb(38, 38, 38);
    display: flex;
    justify-content: right;
    align-items: center;
    height: 70px;
    z-index: 1;
}

.nav-image-logo {
    width: 35px;
    margin-right: 2px;
}

.nav-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: transparent;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 14px;
    border: none;
    width: 110px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-brand:hover {
    /* color: #d79922;
    border-color: #d79922; */
}

.nav-container {
    max-width: 85vw;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 0px;
}

.nav-buttons button {
    font-size: 15px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    height: 5vh;
    position: relative;
    transition: all 0.2s ease-in-out;
    color: white;
    margin-left: 20px;
}

.nav-buttons button:hover {
    /* border-radius: 15px; */
    color: #d79922;
    cursor: pointer;
    transform: translateY(-3px);
}

@media all and (max-width: 991px) {
    .nav-container {
        min-width: 90vw;
    }

    .nav-hamburger-icon {
        background-color: white;
    }

    .nav-hamburger-menu {
        /* background-color: #f2e2b3; */
        background-color: rgb(38, 38, 38);

        margin-top: 17px;
        padding: 20px 0px;

        border-left: 0.5px solid black;
        border-right: 0.5px solid black;
        border-bottom: 0.5px solid black;

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .nav-buttons {
        display: flex;
        flex-direction: column;
    }

    .nav-buttons button {
        background-color: rgba(255, 255, 255, 0.975);
        color: black;
        border-radius: 5px;
        border: 0.5px solid black;
        width: 170px;
        height: 50px;
        font-size: 17px;
        font-weight: 600;
        margin: auto;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .nav-buttons button:active {
        color: #d79922;
    }
}