@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.nav {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    background-color: rgb(38, 38, 38);
    display: flex;
    justify-content: right;
    align-items: center;
    height: 70px;
    transition: all 0s ease-in-out;
    z-index: 1;
}

.nav > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin-right: 3vw;
}

.nav > ul > li {
    padding: 0px 12px;
    transform: scale(0.94);
    animation: fadeIn 1.3s;
    align-items: center;
}

.nav > ul > li > button {
    font-size: 15px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    height: 5vh;
    position: relative;
    transition: all 0.2s ease-in-out;
    color: white;
}

.nav > ul > li > button:hover {
    border-radius: 15px;
    color: #d79922;
    cursor: pointer;
    transform: translateY(-3px);
}


@media all and (max-width: 600px) {
    .nav > ul > li > button {
        font-size: 1vh;
    }
}