.app-container {
    overflow: hidden;
}

.projects-container-navbar {
    height: 11vh;
}

.projectsAndExperiences {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 10vh;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.804);
    width: 30vw;
    height: 7vh;
    color: rgba(0, 0, 0, 0.749);
    font-size: 2.4vh;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.skills-container-navbar {
    height: 10vh;
}

.skills-tools {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10%;
    background-color: white;
    width: 25vw;
    height: 7vh;
    color: rgba(0, 0, 0, 0.766);
    font-size: 2.4vh;
}

.skills-tools-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10vw;
}

.skills-container {
    width: 33vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(7vw, 1fr));
}

.skills-education-container {
    margin: 10vh 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.education-container-navbar {
    height: 10vh;
}

.education-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    border-radius: 10px;
    background-color: white;
    height: 7vh;
    color: rgba(0, 0, 0, 0.751);
    font-size: 2.4vh;
}

.education-container {
    display: flex;
    margin-top: 35vh;
    width: 35vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-container-navbar {
    height: 12vh;
}

.contact-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 30vw;
    border-radius: 10px;
    background-color: white;
    height: 7vh;
    color: rgba(0, 0, 0, 0.807);
}

.contact-container {
    margin-top: 25vh;
}

.footer {
    color: rgba(0, 0, 0, 0.803);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 7vh;
}

.copyright-details {
    font-size: 1.2vw;
    font-weight: 300;
    margin-bottom: -3px;
}

.copyright-title {
    padding-left: 1px;
    font-size: 1.2vw;
    font-weight: 500;
    color: black;
    margin-bottom: -3px;
}

@media all and (max-width: 800px) {
    .projectsAndExperiences {
        width: 60vw;
        font-size: 4vw;
    }
    
    .skills-education-container {
        flex-direction: column;
        margin: auto;
        padding: 0;
    }
    
    .skills-tools-container {
        margin: auto;
    }
    
    .skills-tools {
        margin-bottom: 500px;
        font-size: 4vw;
        width: 60vw;
    }
    
    .skills-container {
        margin-top: -20%;
        width: 80vw;
        grid-template-columns: repeat(auto-fill,minmax(25vw, 1fr));
    }

    .education-header {
        width: 60vw;
    }

    .education-container {
        margin: 0;
    }

    .contact-header {
        width: 60vw;
    }

    .contact-container {
        margin-top: 50px;
    }

    .copyright-title {
        font-size: 2.4vw;
    }

    .copyright-details {
        font-size: 2.2vw;
    }
}