.projectsAndExperiences {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 10vh;
    border-radius: 10px;
    background-color: white;
    width: 35vw;
    height: 7vh;
    color: rgba(0, 0, 0, 0.807);
  }

  .skills-tools {
    margin-left: 18vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: 3vh;
    border-radius: 10px;
    background-color: white;
    width: 25vw;
    height: 7vh;
    color: rgba(0, 0, 0, 0.807);
}

.skills-container {
    /* background-color: lightblue; */
    margin-left: 14vw;
    width: 33vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(7vw, 1fr));
}