.projects-container-navbar {
    height: 11vh;
}

.projectsAndExperiences {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 10vh;
    border-radius: 10px;
    background-color: white;
    width: 35vw;
    height: 7vh;
    color: rgba(0, 0, 0, 0.807);
}

.skills-container-navbar {
    height: 10vh;
}

  .skills-tools {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 7%;
    background-color: white;
    width: 25vw;
    height: 7vh;
    color: rgba(0, 0, 0, 0.807);
}

.skills-tools-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10vw;
}

.skills-container {
    width: 33vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(7vw, 1fr));
}

.skills-education-container {
    margin: 10vh 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.education-container-navbar {
    height: 10vh;
}

.education-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35vw;
    border-radius: 10px;
    background-color: white;
    height: 7vh;
    color: rgba(0, 0, 0, 0.807);
}

.education-container {
    display: flex;
    margin-top: 35vh;
    width: 35vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-container-navbar {
    height: 12vh;
}

.contact-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 30vw;
    border-radius: 10px;
    background-color: white;
    height: 7vh;
    color: rgba(0, 0, 0, 0.807);
}

.contact-container {
    margin-top: 25vh;
}

.copyright-title {
    padding-right: 5px;
}

.copyright-image {
    width: 20px;
    padding-right: 5px;
}

.footer {
    color: rgb(55, 55, 55);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.copyright-name {
    padding-left: 1px;
}

@media all and (max-width: 600px) {
    .projectsAndExperiences {
        width: 60vw;
        font-size: 4vw;
    }
    
    .skills-education-container {
        flex-direction: column;
        margin: auto;
        padding: 0;
    }
    
    .skills-tools-container {
        margin: auto;
    }
    
    .skills-tools {
        margin-bottom: 500px;
        font-size: 4vw;
        width: 60vw;
    }
    
    .skills-container {
        margin-top: -20%;
        width: 80vw;
        grid-template-columns: repeat(auto-fill,minmax(18vw, 1fr));
    }

    .education-header {
        width: 60vw;
    }

    .contact-header {
        width: 60vw;
    }

    .footer {
        font-size: 3vw;
    }

    .copyright-image {
        width: 12px;
    }
}